* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161623;
  overflow: hidden;
}
.circle {
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#03a9f4, #23ff2c);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: animate 20s ease-in-out infinite;
  -webkit-animation: animate 20s ease-in-out infinite;
}
@keyframes animate {
  0%, 100% {
    transform: translateX(-700px);
    -webkit-transform: translateX(-700px);
    -moz-transform: translateX(-700px);
    -ms-transform: translateX(-700px);
    -o-transform: translateX(-700px);
}
  50% {
    transform: translateX(700px) rotate(3turn);
    -webkit-transform: translateX(700px) rotate(3turn);
    -moz-transform: translateX(700px) rotate(3turn);
    -ms-transform: translateX(700px) rotate(3turn);
    -o-transform: translateX(700px) rotate(3turn);
}
}
.glass {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass .layer {
  position: relative;
  width: 30px;
  height: 100vh;
  margin: 1px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(30px);
}
.glass .layer:nth-child(4n + 1) {
  backdrop-filter: blur(10px);
}
.glass .layer:nth-child(4n + 2) {
  backdrop-filter: blur(50px);
}
.glass .layer:nth-child(4n + 3) {
  backdrop-filter: blur(30px);
}
.glass .layer:nth-child(4n + 4) {
  backdrop-filter: blur(20px);
}
